VITE_SUPABASE_URL=https://ufmuhwepyxzaldvcbipd.supabase.co
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InVmbXVod2VweXh6YWxkdmNiaXBkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3Nzk5NjgyNjAsImV4cCI6MjA5NTU0NDI2MH0.IsfvrR37yHihi-IkjeahECn-Tb72bpf72yAyJk5LfIw
VITE_APP_URL=http://localhost:5174
VITE_ONESIGNAL_APP_ID=2a4c4dfe-4c4a-40d4-af09-ae1befc42c2b
ONESIGNAL_API_KEY=os_v2_app_fjge37smjjanjlyjvyn67rbmfp2stmncmctenbfbgmscajlm37cxjwgzgcki5efb2u22imripjr6pw6w6h5jo6wdhsk5czyqvf7hpsq
VITE_TURNSTILE_SITE_KEY=0x4AAAAAADnduR0BSJprWlqj
TURNSTILE_SECRET_KEY=0x4AAAAAADnduYlkqINNaNh0_a0mrgw6s7I
VITE_STREAM_API_KEY=5a98dx6y2gwq
STREAM_API_SECRET=ufzvqzcjagy2x3wgr62kk7rpzr3yb6g2tchunyy4ea4tcdmjyzppt3urtj7gkmt2